<%- include('header') %>
    <h2>
        Admin Vagas:
        <a href="/admin/vagas">Vagas</a>
    </h2>
    <div>
        <form method="POST">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" class="form-control" id="title" placeholder="Titulo da vaga" name="title" value="<%= vaga.title %>">
            </div>
            <div class="form-group">
                <label for="description">Descrição:</label>
                <textarea class="form-control" id="description" rows="3" name="description"><%= vaga.description %></textarea>
            </div>
            <div class="form-group">
                <label for="category_id">Categoria:</label>
                <select class="form-control" id="category_id" name="category_id">
                    <% categorias.forEach( categoria => { %>
                        <option value="<%= categoria.id %>"  <% if(categoria.id == vaga.category_id) { %> selected <% } %> ><%= categoria.description %></option>
                    <% }) %>
                </select>
            </div>
            <div class="from-group">
                <button class="btn btn-primary">Salvar vaga</button>
            </div>
        </form>
    </div>
<%- include('footer') %>