<%- include('templates/header') %>
    <h2>Open roles:</h2>
        <div>
            <% categorias.forEach( categoria => { %>
                <h3><%- categoria.description %></h3>
                <ul>
                    <% categoria.vagas.forEach( vaga => { %>
                        <li>
                            <a href="vagas/<%- vaga.id %>"><%- vaga.title %></a>
                        </li>
                    <% } ) %>
                </ul>
            <% }) %>
        </div>
<%- include('templates/footer') %>